<% if action["_disabled"] %>
  <span class="<%= css_class %> lcp-action-disabled"><%= action["label"] || action["name"].humanize %></span>
<% elsif action["type"] == "custom" %>
  <%= button_to action["label"] || action["name"].humanize,
        single_action_path(record, action_name: action["name"]),
        data: action["confirm"] ? { turbo_confirm: action["confirm_message"] || "Are you sure?" } : {},
        class: "#{css_class} #{'btn-danger' if action['style'] == 'danger'}" %>
<% else %>
  <% case action["name"] %>
  <% when "show" %>
    <%= link_to "Show", resource_path(record), class: css_class %>
  <% when "edit" %>
    <%= link_to "Edit", edit_resource_path(record), class: css_class %>
  <% when "destroy" %>
    <%= button_to "Delete", resource_path(record),
          method: :delete,
          data: { turbo_confirm: action["confirm_message"] || "Are you sure?" },
          class: "#{css_class} btn-danger" %>
  <% end %>
<% end %>
