<div class="lcp-resources-index">
  <div class="lcp-header">
    <h1><%= current_presenter.label %></h1>
    <% if current_presenter.index_config["description"].present? %>
      <p class="lcp-view-description"><%= current_presenter.index_config["description"] %></p>
    <% end %>
    <div class="lcp-toolbar">
      <%= render "lcp_ruby/resources/view_switcher" %>
      <% @action_set.collection_actions.each do |action| %>

        <% if action["type"] == "built_in" && action["name"] == "create" %>
          <%= link_to action["label"] || "New", new_resource_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if current_presenter.search_config["enabled"] %>
    <div class="lcp-search">
      <%= form_tag resources_path, method: :get, class: "lcp-search-form" do %>
        <%= text_field_tag :q, params[:q], placeholder: current_presenter.search_config["placeholder"] || "Search..." %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>
  <% end %>

  <% if current_presenter.search_config.dig("predefined_filters")&.any? %>
    <div class="lcp-filters">
      <% current_presenter.search_config["predefined_filters"].each do |filter| %>

        <%= link_to filter["label"], resources_path + "?filter=#{filter['name']}",
              class: "btn btn-filter #{'active' if params[:filter] == filter['name']}" %>
      <% end %>
    </div>
  <% end %>

  <% if @records.empty? && current_presenter.index_config["empty_message"] %>
    <div class="lcp-empty-state">
      <p><%= current_presenter.index_config["empty_message"] %></p>
    </div>
  <% else %>
    <% columns = @column_set.visible_table_columns %>
    <table class="lcp-table">
      <thead>
        <tr>
          <% columns.each do |col| %>

            <th style="<%= "width: #{col['width']}" if col['width'] %>"
                class="<%= hidden_on_classes(col) %> <%= 'lcp-pinned-left' if col['pinned'] == 'left' %>">
              <% if col["sortable"] %>
                <%= link_to url_for(sort: col["field"], direction: toggle_direction(col["field"])),
                      class: "#{'lcp-sorted' if current_sort_field == col['field']}" do %>
                  <%= col["label"] || col["field"].to_s.split(".").last.humanize %>
                  <% if current_sort_field == col["field"] %>
                    <span class="lcp-sort-icon lcp-sort-<%= current_sort_direction %>"></span>
                  <% end %>
                <% end %>
              <% else %>
                <%= col["label"] || col["field"].to_s.split(".").last.humanize %>
              <% end %>
            </th>
          <% end %>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @records.each do |record| %>
          <tr class="<%= 'lcp-row-clickable' if current_presenter.index_config['row_click'] %>"
              data-href="<%= resource_path(record) if current_presenter.index_config['row_click'] %>">
            <% columns.each do |col| %>

              <td class="<%= hidden_on_classes(col) %> <%= 'lcp-pinned-left' if col['pinned'] == 'left' %>">
                <% value = @field_resolver.resolve(record, col["field"], fk_map: @fk_map) %>
                <% if col["link_to"] == "show" %>
                  <%= link_to render_display_value(value, col["renderer"], col["options"], nil, record: record), resource_path(record) %>
                <% elsif col["partial"] %>
                  <%= render partial: col["partial"], locals: { value: value, record: record, options: col["options"] || {} } %>
                <% elsif col["renderer"] %>
                  <%= render_display_value(value, col["renderer"], col["options"], nil, record: record) %>
                <% elsif value.is_a?(Array) %>
                  <%= render_display_value(value, "collection", {}) %>
                <% else %>
                  <%= value %>
                <% end %>
              </td>
            <% end %>
            <td class="lcp-actions">
              <% if current_presenter.index_config["actions_position"] == "dropdown" %>
                <div class="lcp-actions-dropdown">
                  <button type="button" class="btn lcp-dropdown-toggle">Actions</button>
                  <div class="lcp-dropdown-menu">
                    <% @action_set.single_actions(record).each do |action| %>
                      <%= render "lcp_ruby/resources/action_button", action: action, record: record, css_class: "lcp-dropdown-item" %>
                    <% end %>
                  </div>
                </div>
              <% else %>
                <% @action_set.single_actions(record).each do |action| %>
                  <%= render "lcp_ruby/resources/action_button", action: action, record: record, css_class: "" %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <% if @summaries&.any? %>
        <tfoot>
          <tr class="lcp-summary-row">
            <% columns.each do |col| %>

              <td>
                <% if @summaries[col["field"]] %>
                  <strong><%= col["summary"] == "avg" ? number_with_precision(@summaries[col["field"]], precision: 2) : @summaries[col["field"]] %></strong>
                <% end %>
              </td>
            <% end %>
            <td></td>
          </tr>
        </tfoot>
      <% end %>
    </table>
  <% end %>

  <%= paginate @records if @records.respond_to?(:total_pages) %>
</div>
