<div class="lcp-resources-index">
  <div class="lcp-header">
    <h1><%= current_presenter.label %></h1>
    <div class="lcp-toolbar">
      <% @action_set.collection_actions.each do |action| %>
        <% action = action.transform_keys(&:to_s) if action.is_a?(Hash) %>
        <% if action["type"] == "built_in" && action["name"] == "create" %>
          <%= link_to action["label"] || "New", new_resource_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if current_presenter.search_config["enabled"] %>
    <div class="lcp-search">
      <%= form_tag resources_path, method: :get, class: "lcp-search-form" do %>
        <%= text_field_tag :q, params[:q], placeholder: current_presenter.search_config["placeholder"] || "Search..." %>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
    </div>
  <% end %>

  <% if current_presenter.search_config.dig("predefined_filters")&.any? %>
    <div class="lcp-filters">
      <% current_presenter.search_config["predefined_filters"].each do |filter| %>
        <% filter = filter.transform_keys(&:to_s) if filter.is_a?(Hash) %>
        <%= link_to filter["label"], resources_path + "?filter=#{filter['name']}",
              class: "btn btn-filter #{'active' if params[:filter] == filter['name']}" %>
      <% end %>
    </div>
  <% end %>

  <table class="lcp-table">
    <thead>
      <tr>
        <% @column_set.visible_table_columns.each do |col| %>
          <% col = col.transform_keys(&:to_s) if col.is_a?(Hash) %>
          <th style="<%= "width: #{col['width']}" if col['width'] %>">
            <% if col["sortable"] %>
              <%= link_to col["field"].humanize, url_for(sort: col["field"], direction: toggle_direction(col["field"])) %>
            <% else %>
              <%= col["field"].humanize %>
            <% end %>
          </th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |record| %>
        <tr>
          <% @column_set.visible_table_columns.each do |col| %>
            <% col = col.transform_keys(&:to_s) if col.is_a?(Hash) %>
            <td>
              <% value = record.send(col["field"]) rescue nil %>
              <% if col["link_to"] == "show" %>
                <%= link_to value, resource_path(record) %>
              <% elsif col["display"] == "badge" %>
                <span class="badge"><%= value %></span>
              <% elsif col["display"] == "currency" %>
                <%= number_to_currency(value) %>
              <% elsif col["display"] == "relative_date" && value.respond_to?(:strftime) %>
                <%= time_ago_in_words(value) %> ago
              <% else %>
                <%= value %>
              <% end %>
            </td>
          <% end %>
          <td class="lcp-actions">
            <% @action_set.single_actions(record).each do |action| %>
              <% action = action.transform_keys(&:to_s) if action.is_a?(Hash) %>
              <% case action["name"] %>
              <% when "show" %>
                <%= link_to "Show", resource_path(record) %>
              <% when "edit" %>
                <%= link_to "Edit", edit_resource_path(record) %>
              <% when "destroy" %>
                <%= button_to "Delete", resource_path(record),
                      method: :delete,
                      data: { turbo_confirm: "Are you sure?" },
                      class: "btn-danger" %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @records if @records.respond_to?(:total_pages) %>
</div>
