<div class="lcp-resource-show">
  <%= render_slot(:page_header, page: :show) %>
  <div class="lcp-header">
    <h1><%= @record.respond_to?(:to_label) ? @record.to_label : @record.to_s %></h1>
    <div class="lcp-toolbar">
      <%= render_slot(:toolbar_start, page: :show) %>
      <%= render_slot(:toolbar_end, page: :show) %>
    </div>
  </div>

  <% if current_page&.composite? %>
    <%= render "lcp_ruby/resources/semantic_page" %>
  <% else %>
    <%= render "lcp_ruby/resources/show_sections",
          layout_builder: @layout_builder, column_set: @column_set,
          field_resolver: @field_resolver, record: @record %>
  <% end %>

  <%= render_slot(:below_content, page: :show) %>
</div>
