<div class="lcp-resource-show">
  <div class="lcp-header">
    <h1><%= @record.respond_to?(:to_label) ? @record.to_label : @record.to_s %></h1>
    <div class="lcp-toolbar">
      <%= render "lcp_ruby/resources/view_switcher" %>
      <%= link_to "Back to list", resources_path, class: "btn" %>
      <% @action_set.single_actions(@record).each do |action| %>
        <%= render "lcp_ruby/resources/action_button", action: action, record: @record, css_class: "btn" %>
      <% end %>
    </div>
  </div>

  <% @layout_builder.show_sections.each do |section| %>
    <div class="lcp-section">
      <h2><%= section["section"] || section["title"] %></h2>

      <% if section["type"] == "association_list" %>
        <% assoc_name = section["association"] %>
        <% if @record.respond_to?(assoc_name) %>
          <div class="lcp-association-list">
            <% @record.send(assoc_name).each do |assoc_record| %>
              <div class="lcp-association-item">
                <%= assoc_record.respond_to?(:to_label) ? assoc_record.to_label : assoc_record.to_s %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="lcp-fields lcp-grid" style="display: grid; grid-template-columns: repeat(<%= section['columns'] || 1 %>, 1fr); gap: 1rem;"
             <%= "data-responsive-mobile=\"#{section.dig('responsive', 'mobile', 'columns')}\"" if section.dig('responsive', 'mobile', 'columns') %>
             <%= "data-responsive-tablet=\"#{section.dig('responsive', 'tablet', 'columns')}\"" if section.dig('responsive', 'tablet', 'columns') %>>
          <% visible_fields = @column_set.visible_show_fields(section["fields"]) %>
          <% visible_fields.each do |field_config| %>

            <% field_name = field_config["field"] %>
            <% next unless @record.respond_to?(field_name) %>
            <% value = @record.send(field_name) %>

            <div class="lcp-field <%= hidden_on_classes(field_config) %>"
                 <%= "style=\"grid-column: span #{field_config['col_span']}\"" if field_config["col_span"] %>>
              <% field_def = field_config["field_definition"] %>
              <label><%= field_def&.label || field_name.humanize %></label>
              <div class="lcp-field-value">
                <% if field_config["display"] %>
                  <%= render_display_value(value, field_config["display"], field_config["display_options"], field_def) %>
                <% else %>
                  <%= value %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
