<h2><%= t("lcp_ruby.auth.reset_password.heading", default: "Change your password") %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <% if resource.errors.any? %>
    <div class="lcp-errors">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :reset_password_token %>

  <div class="lcp-form-field">
    <%= f.label :password, t("lcp_ruby.auth.reset_password.new_password", default: "New password") %>
    <% if @minimum_password_length %>
      <em>(<%= t("lcp_ruby.auth.register.password_hint", count: @minimum_password_length, default: "%{count} characters minimum") %>)</em>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="lcp-form-field">
    <%= f.label :password_confirmation, t("lcp_ruby.auth.reset_password.confirm_password", default: "Confirm new password") %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="lcp-form-actions">
    <%= f.submit t("lcp_ruby.auth.reset_password.submit", default: "Change my password"), class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "lcp_ruby/auth/shared/links" %>
