<p><%= t("lcp_ruby.auth.mailer.greeting", name: @resource.name, default: "Hello %{name}!") %></p>

<p><%= t("lcp_ruby.auth.mailer.reset_instructions", default: "Someone has requested a link to change your password. You can do this through the link below.") %></p>

<p><%= link_to t("lcp_ruby.auth.mailer.reset_link_text", default: "Change my password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("lcp_ruby.auth.mailer.ignore_notice", default: "If you didn't request this, please ignore this email.") %></p>

<p><%= t("lcp_ruby.auth.mailer.no_change_notice", default: "Your password won't change until you access the link above and create a new one.") %></p>
